$primaryColor: #757575;
$primaryDarkColor: #424242;
$primaryLightColor: #EEEEEE;
$accentColor: #FF5722;
$accentDarkColor: #D84315;
$accentLightColor: #FFAB91;
$accentTextColor: #ffffff;

@import '../../sass/layout/_layout';