$primaryColor: #00bcd4;
$primaryDarkColor: #00838f;
$primaryLightColor: #4dd0e1;
$accentColor: #ffc107;
$accentDarkColor: #ff8f00;
$accentLightColor: #ffe082;
$accentTextColor: #212121;

@import '../../sass/layout/_layout';