$primaryColor: #673AB7;
$primaryDarkColor: #4527A0;
$primaryLightColor: #B39DDB;
$accentColor: #00BCD4;
$accentDarkColor: #00838F;
$accentLightColor: #80DEEA;
$accentTextColor: #ffffff;

@import '../../sass/layout/_layout';
