$primaryColor: #4CAF50;
$primaryDarkColor: #2E7D32;
$primaryLightColor: #A5D6A7;
$accentColor: #ffeb3b;
$accentDarkColor: #4527A0;
$accentLightColor: #f9a825;
$accentTextColor: #212121;

@import '../../sass/layout/_layout';