<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="title">Domicilios Registrados</ui:define>
	<ui:define name="content">
	<h:head>
	<h:outputScript library="scripts" name="jquery-1.7.2.js" />
	<h:outputScript library="scripts" name="jquery.validate.js" />
	<h:outputScript library="scripts" name="Validaciones.js" />
	<h:outputScript library="scripts" name="funciones.js" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>
	
	</h:head>	
	<h:form id="form">
    <p:growl showDetail="true"/> 
    <p:panel header="Validate">
        <h:panelGrid columns="4" cellpadding="5">
            <h:outputLabel for="email" value="Email 1: (JSF Validation)" />
            <p:inputText  id="email" value="#{Data.apellido1}" > 
             <f:validator validatorId="custom.emailValidator" />             
                <!-- p:clientValidator event="keyup"/-->
             </p:inputText>
            <p:message for="email" id="first" display="tooltip" />   
            <h:outputLabel  value=" " />
            
      		 <h:outputLabel for="nombre" value="nombre: " />
      		 
            <p:inputText  id="nombre" value="#{Data.apellido2}" >  
            	<f:validator validatorId="custom.emailValidator" />             
	                <!-- p:clientValidator event="keyup"/-->
	        </p:inputText>
	        
		    <p:selectBooleanCheckbox id="flag" value="#{Validar.renderInputText}" >
			   <p:ajax update="inputPanel" />
			</p:selectBooleanCheckbox>
			
			<h:panelGroup id="inputPanel">
			    <p:inputText rendered="#{Validar.renderInputText}" />
			</h:panelGroup> 
	        
	        
	        <h:outputLabel  value=" " />
        
        </h:panelGrid> 
        
        
        
        <p:commandButton id="buttonId" value="Save" ajax="false" icon="ui-icon-check"  action="#{Validar.conectar()}"  />
        	 
           
        	
    </p:panel>    
    
   
	
</h:form>




</ui:define>
</ui:composition>