<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="title">JSF046Inicio</ui:define>
	<ui:define name="content">
		<h:form>
			<div class="ui-g-12">
				<div class="card card-w-title">
					<p:treeTable value="#{treeSelectionView.root4}" var="doc"
						selectionMode="single">
						<p:column headerText="Nombre" style="border: none !important;">
							<h:outputText value="#{doc.name}" />
						</p:column>
						<p:column headerText="Estado" style="border: none !important;">
							<h:outputText value="#{doc.size}" />
						</p:column>
						<p:column headerText="Ultima Modificación" style="border: none !important;">
							<h:outputText value="#{doc.type}" />
						</p:column>
						<p:column style="border: none !important; width:55px;">
							  <p:menuButton  model="#{doc.icono}" icono="fa fa-ellipsis-v">	
							  </p:menuButton> 					
						</p:column>						
					</p:treeTable>
				</div>
			</div>
		</h:form>
	</ui:define>
</ui:composition>



