<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">Registrar Usuario</ui:define>
    <ui:define name="content">
    	<div class = "ui-g">
    	  <div class = "ui-g-3"></div>	
          <div class="ui-g-6 ui-sm-12 ui-fluid">
                    <div class="card card-w-title" >
                    	<h1>Registro Único</h1>
                    	 
                    	<p:outputLabel for="CU_CURP" value="CURP: "/>
                    	<p:inputText id="CU_CURP"/>
                    	
                    	<h:panelGroup styleClass="md-inputfield">
	                    	<p:selectBooleanCheckbox id="BL_AUTORIZACIONRENAPO" />
	                        <span class="task-name">Autorizo que mis datos sean validados por
	                        <a href="http://www.renapo.gob.mx" class="forget-password">RENAPO</a>
	                        </span>
                        </h:panelGroup> 
                    	
                    	<p:outputLabel for="NM_NOMBRECOMPLETO" value="Nombre:  "/>
                    	<p:inputText id="NM_NOMBRECOMPLETO"/>
                    	
                    	<p:outputLabel for="CE_CORREO" value="Correo Electrónico: "/>
                    	<p:inputText id="CE_CORREO"/>
                       
                       	<p:outputLabel for="CE_CONFIRMACION" value="Confirmar Correo Electrónico: "/>
                    	<p:inputText id="CE_CONFIRMACION"/>
                        
                        <p:outputLabel for="CO_CONTRASENA" value="Contraseña:"/>
                        <p:password id="CO_CONTRASENA" />
                                
                        <p:outputLabel for="CO_CONFIRMACION" value="Confirmar Contraseña:"/>
                        <p:password id="CO_CONFIRMACION" />    
                        
                        <h:panelGroup styleClass="md-inputfield">
	                    	<p:selectBooleanCheckbox id ="BL_EXTRANJERO"/>
	                        <span class="task-name">Soy extranjero</span>
                        </h:panelGroup> 
                        
                        
		                <p:graphicImage name="images/captcha.PNG" library="ultima-layout"/>
		                                        
                        
                        <br></br>
                          
                        <div class = "ui-g">
                        	<div class = "ui-g-6  ui-sm-12">
                        		<i class="ui-icon ui-icon-help"></i>
	                    			                    		                    		
	                    		<p:commandLink oncomplete="PF('AYUDA').show();" value="¿Necesitas Ayuda?"></p:commandLink>
	                    		
	                    		 <p:dialog header="Ayuda" widgetVar="AYUDA" modal="true" height="300" width="400" responsive="true">
		                            	<div class = "ui-g">
			                            	<div class="ui-g-6 ui-sm-12">
			                            		<div class="ui-g card" style="background-color:#d9eff9; font-size: 12px;" >						                    
								                    							                        
								                        <p:outputLabel  value="¿Eres Extranjero?" />						                        
								                    </div>
								                    
								            </div>
							            	<div class="ui-g-6 ui-sm-12">
							            			<div class="ui-g card" style="background-color:#d9eff9; font-size: 12px;">						                    
								                    
								                    	<p:outputLabel value="Cómo registrarme" />							                        				                        
								                    </div>							                    
								            </div>
		                            	</div>
		                            
		                            
		                            <h:form>
			                            <p:panelMenu>
				                            <p:submenu label="¿Qué documentación necesito para el registro?" expanded="false">
				                            	
				                                <p:menuitem value="Solo debes de ingresar que eres un ciudadano extranjero en donde deberás presentar: 
				                                &lt;br /&gt;• Documento Migratorio escaneado en formato PDF
				                                &lt;br /&gt;• CURP" escape="false"/>
				                                
				                            </p:submenu>				                            
				                        </p:panelMenu>
				                        <p:spacer></p:spacer>
				                        <p:panelMenu>
				                            <p:submenu label="¿Tiempo de respuesta a mi solicitud?" expanded="false">
				                            	
				                                <p:menuitem value="En los trámites de registro a extranjero, el tiempo de validación del documento puede tomar en un lapso de 2 a 3 días, enviando un correo para notificar."/>
				                                
				                            </p:submenu>				                            
				                        </p:panelMenu>
				                        
				                      </h:form>
		                        </p:dialog> 
                        
	                    	</div>
	                    	
                    		<div class = "ui-g-3"></div>
                    		<div class = "ui-g-3  ui-sm-12">
                    			<p:button href="NotificarCorreo.jsf" value="Registrarse" style="width:auto;margin-bottom:10px;"/>
                    		</div>
                		</div>    	
	                    
                </div>
          </div>
          <div class = "ui-g-3"></div>
        </div>
        
    </ui:define>
</ui:composition>