<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
	</f:facet>
	<title>JSF998Error</title>
	<h:outputScript name="js/ripple.js" library="ultima-layout" />
</h:head>
<h:body styleClass="exception-body error-page">
	<div class="exception-type">
		<p:graphicImage name="images/error.svg" library="ultima-layout" />
	</div>
	<div class="card exception-panel">
		<i class="material-icons">&#xE000;</i>
		<h1>Error</h1>
		<div class="exception-detail">Lo sentimos, por el momento no es
			posible atender su solicitud. Favor de ponerse en contacto con el
			administrador del sistema.</div>
		<p:selectOneRadio layout="responsive" columns="1">
			<f:selectItem itemLabel="Ok" itemValue="Ok" />
		</p:selectOneRadio>
	</div>
	<h:outputStylesheet name="css/ripple.css" library="ultima-layout" />
	<h:outputStylesheet name="css/layout-#{guestPreferences.theme}.css"
		library="ultima-layout" />
</h:body>
</html>