<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
	
    <ui:define name="JSFConsultarCarta"></ui:define>
    <ui:define name="content">
        <h:form>
            <div class="ui-fluid">
				<div class="card card-w-title">
	                <div class="ui-g">
	                	<div class="ui-g-3">
	                		<p:graphicImage name="images/tfja.png" width="200"/>
	                	</div>
	                	<div class="ui-g-9"></div>
	                	
	                	<div class="ui-g-1"></div>		                	
		                <div class="ui-g-11">
		                	<div class="ui-g-12">
				            	<h1>Consultar Carta</h1>
			            	</div>

		                	<div class="ui-g-12" style="border: gray solid 3px">
			                	<div class="ui-g-12">
					            	<p:outputLabel value="Número de Carta"/>
				            	</div>
			                	<div class="ui-g-12">
				                	<div class="ui-g-9">
		                        		<p:inputText id="DS_CARTA" style="width:100%"/>
					            	</div>
				                	<div class="ui-g-3"></div>
				            	</div>
	
			                	<div class="ui-g-12">
					            	<p:outputLabel value="Fecha Inicio"/>
				            	</div>
			                	<div class="ui-g-12">
				                	<div class="ui-g-9">
				                		<p:calendar id="FH_VIGENCIAINI" style="width:100%" showOn="button"/>
					            	</div>
				                	<div class="ui-g-3"></div>
				                </div>
			                	
	
			                	<div class="ui-g-12">
					            	<p:outputLabel value="Fecha Vencimiento"/>
				            	</div>
			                	<div class="ui-g-12">
				                	<div class="ui-g-9">
				                		<p:calendar id="FH_VIGENCIAFIN" style="width:100%" showOn="button"/>
					            	</div>
				                	<div class="ui-g-3"></div>
				            	</div>
			                	
	
			                	<div class="ui-g-12">
					            	<p:outputLabel value="Nombre de Archivo"/>
				            	</div>
			                	<div class="ui-g-12">
				                	<div class="ui-g-9">
		                        		<p:inputText id="NU_ARCHIVOCARTA" style="width:100%"/>
					            	</div>
				                	<div class="ui-g-1">
				                		<i class="material-icons" style="font-size:40px">description</i>
				                	</div>
				                	<div class="ui-g-2"></div>
			                	</div>
				            	
				            	<div class="ui-g-12">
				            		<div class="ui-g-7"></div>
				                	<div class="ui-g-2" align="center">
					                	<p:commandButton value="Modificar" style="width:100%"/>
					            	</div>
				                	<div class="ui-g-3" align="center">
					                	<p:commandButton value="Guardar Cambios" style="width:100%"/>
					            	</div>
				            	</div>
				            	
				            	<div class="ui-g-12">
				            		<p:inputText id="DS_ARCHIVOCARTA" style="display:none"/>
				            	</div>
			            	</div>
	                	</div>
	            	</div>
        		</div>
        	</div>
        </h:form>
    </ui:define>
</ui:composition>