<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="JSFConsultarCartas"></ui:define>
    <ui:define name="content">
        <h:form>
            <div class="ui-fluid">
				<div class="card card-w-title">
	                <div class="ui-g">
	                	<div class="ui-g-3">
	                		<p:graphicImage name="images/tfja.png" width="200"/>
	                	</div>
	                	<div class="ui-g-9"></div>
	                	
	                	<div class="ui-g-1"></div>		                	
		                <div class="ui-g-11">
		                	<div class="ui-g-12">
				            	<h1>Cartas Registradas</h1>
			            	</div>

		                	<div class="ui-g-12" style="border: gray solid 3px">
			            		<div class="ui-g-7"></div>
			            		<div class="ui-g-2">
		                			<p:commandButton type="button" icon="ui-icon-add"/>
			            			<p:outputLabel value="Agregar"/>
			            		</div>
			            		<div class="ui-g-3"></div>
				            	
				            	<div class="ui-g-12">
				            	
				            		<div class="ui-g-9">
						            	<p:dataList value="#{cartasController.cartas}" var="carta" type="none">
						            			<div class="ui-g-12" style="border-bottom: gray solid 1px">
						            				<div class="ui-g-11">
										        		<strong>#{carta.DS_CARTA}</strong><br/>
										        		#{carta.FH_VIGENCIAINI} a #{carta.FH_VIGENCIAFIN}
									        		</div>
						            				<div class="ui-g-1">
											        	<p:menuButton icon="ui-icon-more-vert">
															<p:menuitem value="Editar" icon="ui-icon-create"/>
															<p:menuitem value="Borrar" icon="ui-icon-delete"/>
															<p:menuitem value="Seleccionar" icon="ui-icon-check"/>
														</p:menuButton>
													</div>
						            			</div>
										</p:dataList>
				            		</div>
				            		<div class="ui-g-3"></div>
				            	</div>
				            	
				            	<div class="ui-g-12">
				            		<div class="ui-g-10" align="center"></div>
				                	<div class="ui-g-2" align="center">
					                	<p:commandButton value="seleccionar" style="width:100%"/>
					            	</div>
				            	</div>
				            	
				            	<div class="ui-g-12">
				            		<p:inputText id="NU_CARTA" style="display:none"/>
				            	</div>
			            	</div>
	                	</div>
	            	</div>
        		</div>
        	</div>
        </h:form>
    </ui:define>
</ui:composition>