<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	template="/WEB-INF/template.xhtml">

	<ui:define name="title">Domicilio</ui:define>

	<ui:define name="content">

		<div class="ui-g ui-fluid">
			<div class="ui-g-3" />
			<div class="ui-g-6">
				<!-- Left Side -->
				<div class="ui-g card">
					<h1>Domicilio</h1>
					<h:form>
						<div class="ui-g ">

							<div class="ui-g-6 ui-sm-12 ">

								<h:outputText value="País" />

								<p:selectOneMenu id="NU_PAIS">
									<f:selectItem itemLabel="México" itemValue="Mexico" />
									<f:selectItem itemLabel="Canada" itemValue="Canada" />
									<f:selectItem itemLabel="China" itemValue="China" />
									<f:selectItem itemLabel="Estados Unidos"
										itemValue="Estados Unidos" />
									<f:selectItem itemLabel="Brasil" itemValue="Brasil" />
								</p:selectOneMenu>
								<p:spacer width="0" height="50px" />
								<p:outputLabel value="Código Postal" />




								<div class="ui-g">
									<div class="ui-g-8">
										<p:inputText id="cp" />
									</div>
									<div class="ui-g-4">

										<p:commandButton value="Buscar" style="width:100px" />
									</div>
								</div>
								<p:spacer width="0" height="18px" />
								<p:outputLabel value="Delegación/Municipio:" />
								<p:spacer width="0" height="18px" />
								<p:inputText id="DS_MUNICIPI" />
								<p:outputLabel value="Número exterior:" style="width:100%" />
								<p:spacer width="0" height="46px" />
								<p:inputText id="DS_NUMEROEXT" />

								<h:outputText value="Tipo de domicilio:" />
								<p:spacer width="0" height="50px" />
								<p:selectOneMenu id="DS_TIPODOMICILIO">
									<f:selectItem itemLabel="Domicilio Notificaciones"
										itemValue="DomN" />
									<f:selectItem itemLabel="Domicilio Particular" itemValue="DomP" />
								</p:selectOneMenu>
								<p:spacer width="0" height="50px" />

							</div>



							<div class="ui-g-6 ui-sm-12">
								<h:outputText value="Entidad Federativa" />
								<p:inputText id="NU_ENTIDADFEDERATIVA" />

								<p:outputLabel value="Colonia/Asentamiento:" />
								<p:spacer width="0" height="50px" />
								<p:selectOneMenu id="DS_COLONIA">
									<f:selectItem itemLabel="Industrial" itemValue="Industrial" />
									<f:selectItem itemLabel="Mexicali" itemValue="Mexicali" />
									<f:selectItem itemLabel="Caracol" itemValue="Caracol" />
									<f:selectItem itemLabel="Luna" itemValue="Luna" />
									<f:selectItem itemLabel="Ostion" itemValue="Ostion" />
								</p:selectOneMenu>
								<p:outputLabel value="Calle:" />
								<p:spacer width="0" height="46px" />
								<p:inputText id="DS_CALLE" />
								<p:outputLabel value="Número interior:" style="width:100%" />
								<p:spacer width="0" height="46px" />
								<p:inputText id="numInt" />

								<div class="ui-g">
									<div class="ui-g-4">
										<p:spacer width="0" height="30" />
										<p:commandButton value="Modificar" />
									</div>
									<div class="ui-g-8">
										<p:spacer width="0" height="30" />
										<p:commandButton value="Guardar Cambios" />
									</div>
								</div>
								<p:spacer width="0" height="50" />
								<p:spacer width="0" height="50" />


							</div>
						</div>
					</h:form>
				</div>
				<div class="ui-g-3" />

			</div>
		</div>

	</ui:define>

</ui:composition>