<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
                
<ui:define name="head">
    <style type="text/css">
        .cars-datalist .text-column p:last-child{
            color:#757575;
        }
        
        .cars-datalist .car-item i, .cars-datalist .car-item .car-details {
            display: inline-block;
            vertical-align: middle;
        }
        
        .cars-datalist .car-item button {
            float: right;
        }
        
        .cars-datalist ul {
            margin: 0;
            padding: 0;
        }
        
        .ui-car-display td:last-child {
            font-weight: 700;
        }
        
        .ui-car-display {
            margin: 20px 0;
        }
        
        .styleButtonTransparent .ui-button{
            background-color: transparent!important;  
            background: transparent!important;
            border: transparent!important;
            float:right;
            margin:24px 24px 0 0;
            color: #000000;
        }
    
    @media (max-width:640px) {
        .cars-datalist .text-column {
            text-align: center;
        }
    }
    </style>
</ui:define>
                
    <ui:define name="title">Pantalla 3</ui:define>

    <ui:define name="content">
        <h:form id="form">
            <div class="ui-g">
            
                <div class="ui-g-3">></div>
                
                <div class="ui-g-6">                
                    <div class="card card-w-title">
                        <h1>Domicilios Registrados</h1>
                        <div align="right">       
                            <h:outputText value="Agregar  " />                          
                            <p:commandButton type="button" icon="ui-icon-plus" style="width:36px"/>
                        </div>
                        <p:dataList value="#{dataListView.cars4}" var="car" type="unordered" itemType="none" paginator="false" rows="7" styleClass="cars-datalist">
                            
                            <div style="border-bottom: 1px solid #bdbdbd" class="clearfix car-item">
                                <i class="fa fa-dot-circle" style="font-size:48px;color:#757575;margin:24px;"></i>
                                <div class="car-details">
                                    <p>#{car.brand}</p>
                                    <p style="color:#757575">#{car.color}</p>
                                </div>
                                
                                <p:menuButton icon="ui-icon-more-vert" url="#" style="float:right; margin:24px 24px 0 0; background-color:#FFFFFF;">
                                    <p:menuitem value="Editar" icon="ui-icon-create" url="#" />
                                    <p:menuitem value="Borrar" icon="ui-icon-delete" url="#" />
                                    <p:menuitem value="Seleccionar" icon="ui-icon-person" url="#" />
                                </p:menuButton>
                            </div>                                                                               
                        </p:dataList>   
                        
                        <div><BR /></div>
                        <div><BR /></div>
                        <div><BR /></div>                   
                        
                        <div align="right">                                                      
                            <p:commandButton type="button" value="Seleccionar"/>
                        </div>
                                         
                    </div>
                </div>
                
                <div class="ui-g-3"></div>
                
            </div>
        </h:form>
        
    </ui:define>

</ui:composition>
