<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

	<ui:define name="title">Ejemplo</ui:define>
		<ui:define name="content">
		<h:head>
			<!-- h:outputScript library="scripts" name="jquery-1.7.2.js" />
			<h:outputScript library="scripts" name="jquery.validate.js" />
			<h:outputScript library="scripts" name="Validaciones.js" />
			<h:outputScript library="scripts" name="funciones.js" />
			<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>
			 -->
		</h:head>
		<h:form id="form">
	    	<div class = "ui-g ui-fluid">
	    		<div class = "ui-md-1 ui-lg-2 ui-fluid"></div>	
	    		
	        	<div class="ui-g-12 ui-md-10 ui-lg-8 ui-fluid">
	               	<div class="iu-g card" >               	
	               		<h1>Consultar Domicilio</h1>
	                   	<div class="ui-g">
	                   	
		                   	<div class = "ui-g-12 ui-md-6 ui-lg-6 ui-fluid">
		                   		<!-- Aqui va el codigo para la PRIMERA columna -->
		                   		
		                   		<h:outputText value="País*" />
	
									<p:selectOneMenu id="CB_PAIS">
										<f:selectItem itemLabel="México" itemValue="Mexico" />									
										<f:selectItem itemLabel="Extranjero" itemValue="Extranjero" />
									</p:selectOneMenu>
									<p:spacer width="0" height="50px" />
									<p:outputLabel value="Código Postal*" />
	
									<div class="ui-g">
										<div class="ui-g-8">
											<p:inputText id="cp" />
										</div>
										<div class="ui-g-4">
	
											
											<p:commandButton id="buscar" value="Buscar" ajax="false" icon="ui-icon-check"  action="#{domicilioService.buscarDomicilioRenapo()}"  />
										</div>
									</div>
									<p:spacer width="0" height="18px" />
									<p:outputLabel value="Delegación/Municipio:*" />
									<p:selectOneMenu id="CB_MUNICIPIO">
										<f:selectItem itemLabel="Gustavo A. Madero" itemValue="Mexico" />
										<f:selectItem itemLabel="Canada" itemValue="Canada" />
										<f:selectItem itemLabel="China" itemValue="China" />
										<f:selectItem itemLabel="Estados Unidos" itemValue="Estados Unidos" />
										<f:selectItem itemLabel="Brasil" itemValue="Brasil" />
									</p:selectOneMenu>
	
									<p:outputLabel value="Calle:*" />
									<p:spacer width="0" height="46px" />
									<p:inputText id="ST_CALLE" value="#{DataDomicilio.CB_ENTIDADFEDERATIVA}"/>
									
									<p:outputLabel value="Número interior:*" style="width:100%" />
									<p:spacer width="0" height="46px" />
									<p:inputText id="ST_NUMEROINTERIOR" />
									
		                   			<p:outputLabel value="Dirección:*" style="width:100%" />
									<p:spacer width="0" height="46px" />
									<p:inputText id="ST_DIRECCION" />
			                	
			                	<!-- Aqui TERMINA el codigo para la PRIMERA columna --> 
		                   	</div>
		                   	
		                   	<div class = "ui-g-12 ui-md-6 ui-lg-6 ui-fluid">
		                   		<!-- Aqui va el codigo para la SEGUNDA columna -->
		                   		<h:outputText value="Tipo de domicilio:*" />
		                   		<p:spacer width="0" height="18px" />
		                   		<p:selectOneMenu id="CB_TIPODOMICILIO">
										<f:selectItem itemLabel="Domicilio Notificaciones"
											itemValue="DomN" />
										<f:selectItem itemLabel="Domicilio Particular" itemValue="DomP" />
									</p:selectOneMenu>
							    <p:spacer width="0" height="50px" />
		                   		<h:outputText value="Entidad Federativa*" />
								<p:inputText id="CB_ENTIDADFEDERATIVA" value="#{DataDomicilio.CB_ENTIDADFEDERATIVA}"/>
	
									<p:outputLabel value="Colonia / Asentamiento*:" />
									<p:spacer width="0" height="45px" />
									<p:selectOneMenu id="DS_COLONIA">
										<f:selectItem itemLabel="Industrial" itemValue="Industrial" />
										<f:selectItem itemLabel="Mexicali" itemValue="Mexicali" />
										<f:selectItem itemLabel="Caracol" itemValue="Caracol" />
										<f:selectItem itemLabel="Luna" itemValue="Luna" />
										<f:selectItem itemLabel="Ostion" itemValue="Ostion" />
									</p:selectOneMenu>
									
									<p:spacer width="0" height="45" />
									<p:outputLabel value="Número exterior:*" style="width:100%" />
									
									<p:inputText id="ST_NUMEROEXTERIOR" value="#{DataDomicilio.CB_ENTIDADFEDERATIVA}"/>
								
									
									<div class="ui-g">
									
										<div class="ui-g-4"></div>
										<div class="ui-g-4">
											<p:spacer width="0" height="30" />
											
											
											<p:commandButton id="modificarDomicilio" value="Modificar" ajax="false" icon="ui-icon-check"  action="#{domicilioService.modificarDomicilio()}"  />

											
											<!-- registrarDomicilio() -->
										</div>
										<div class="ui-g-4">
											<p:spacer width="0" height="30" />
											
											<p:commandButton id="guardarCambios" value="Guardar Cambios" ajax="false" icon="ui-icon-check"  action="#{domicilioService.guardarDomicilio()}"  />
									
											<!-- registrarDomicilio() -->
										</div>
									</div>
									
		                   			
			                	
			                	<!-- Aqui TERMINA el codigo para la SEGUNDA columna --> 
		                   	</div>
		                   	
	                   	</div>               	 	                	                                	  	                   
	               	</div>
	          	</div>                   
	          	
	          	<div class = "ui-md-1 ui-lg-2 ui-fluid"></div>
	        </div>
        </h:form>
    </ui:define>
</ui:composition>