<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">JSF045</ui:define>
    <ui:define name="content">
    
    <h:form>
        		<div class="ui-g">
        			<div class="ui-g-3"/>
        				<div class="ui-g-6 ui-sm-12">
        					<div class="card">
        					
        						
        						<h:panelGrid columns="2" width="10">
        						
        							<p:spacer width="200" height="5"/>
                        			<label>Nombre de Usuario:</label>
                        			<p:spacer width="200" height="5"/>
                        			
                        			<h:panelGrid columns="2" width="10">
                        				<p:inputText id="NOMBRE_USUARIO" icon="ui-icon-check"/>
                        				<p:commandButton  icon="ui-icon-check" />
                        				
                        			
                        			</h:panelGrid>
                        			
                        		</h:panelGrid>
                        		
                        		<h:panelGrid columns="2" width="10">
        							<p:spacer width="200" height="5"/>
                        			<label>Contraseña:</label>
                        			<p:spacer width="200" height="5"/>
                        			
                        			<h:panelGrid columns="2" width="10">
                        				<p:inputText id="PASS_USUARIO"/>
                        			    <p:commandButton  icon="ui-icon-warning" />
                        			</h:panelGrid>
                        		</h:panelGrid>
                        		
                        		<div class="ui-g">
                        		<div class="ui-g-7"/>
                        			<div align="right">
	        							<p:link value="Olvido su Contraseña?"/>
	                        			<p:commandButton  icon="ui-icon-account-circle" />
	                        		</div>
	                        	</div>
	                        
	                       
                        	
                     		<h:panelGrid columns="4" width="800">
                     			<p:spacer width="35" height="5"/>
                     				
		                    	<p:growl id="message" showDetail="true" />
		
		                        <p:commandButton value="Entrar" update="message" styleClass="OrangeButton">
		                            <p:confirm message="Lo sentimos, has sobrepasado el limite de intentos." icon="" />
		                        </p:commandButton>
		
		                        <p:confirmDialog global="true" width="300"  text-align="center">
		                            <p:commandButton value="Ok" type="button" styleClass="ui-confirmdialog-yes GreenButton" width="300"/>
		                        </p:confirmDialog>
                        
                        	</h:panelGrid>
                        		 		
                        
                        	</div>
                    	</div>
                 </div>
           
    		</h:form>
           	
           
    		
        
    </ui:define>
</ui:composition>