<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/login.xhtml">

    <ui:define name="title">JSF043</ui:define>
    	<ui:define name="content">
    		<h:form>
        		<div class="ui-g">
        			<div class="ui-g-3"/>
        				<div class="ui-g-6 ui-sm-12 ui-md-12">
        					<div class="card">
        						<h:panelGrid columns="2" width="10">
        						
        							<p:spacer width="200" height="5"/>
                        			<label>Nombre de Usuario:</label>
                        			<p:spacer width="200" height="5"/>
                        			
                        			<h:panelGrid columns="2" width="10">
                        				<p:inputText id="NOMBRE_USUARIO" icon="ui-icon-check"/>
                        				<p:commandButton  icon="ui-icon-check" />
                        			
                        			</h:panelGrid>
                        			
                        		</h:panelGrid>
                        		
                        		<h:panelGrid columns="2" width="10">
        							<p:spacer width="200" height="5"/>
                        			<label>Contraseña:</label>
                        			<p:spacer width="200" height="5"/>
                        			
                        			<h:panelGrid columns="2" width="10">
                        				<p:inputText id="PASS_USUARIO"/>
                        			    <p:commandButton  icon="ui-icon-warning" />
                        			</h:panelGrid>
                        		</h:panelGrid>
                        		
                        		<div class="ui-g">
                        		<div class="ui-g-7"/>
                        			<div align="right">
	        							<p:link value="Olvido su Contraseña?"/>
	                        			<p:commandButton  icon="ui-icon-account-circle" />
	                        		</div>
	                        	</div>
	                        
	                       
                        		
                        		<h:panelGrid columns="2" width="500">
                        		<p:spacer width="80" height="5"/>
                        		<p:commandButton value="Entrar" style="width:40%"/>
                        		</h:panelGrid>
                        		
                        
                        	</div>
                    	</div>
                 </div>
           
    		</h:form>    
    </ui:define>
</ui:composition>