<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
	
	<ui:define name="head">
		<style type="text/css">
        	.material-icons.md-80 { 
        		font-size: 80px; 
        	}        	
 		</style>
	</ui:define>
	
	<ui:define name="content">
		<div class="ui-g">
			<div class="ui-g-12" align="center">
				<h4>Registro Único</h4>
			</div>
		
			<div class="ui-g-8"></div>
			<div class="ui-g-4" align="center">
    			<p:commandLink value="Ok" />
    		</div>
    		
    		<div class="ui-g-4" align="center">
    			<i class="material-icons md-80">mail</i>
    		</div>
    		<div class="ui-g-4" align="center">
    			<p:outputLabel> 
    				Se ha enviado un correo electrónico a la dirección que proporcionó, 
    				por favor revíselo para continuar el proceso de registro.
    			</p:outputLabel>
    		</div>
    		<div class="ui-g-4"></div>
		</div>
	</ui:define>
</ui:composition>