<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="JSF008RegistrarDireccion">Test Page</ui:define>
	<ui:define name="content">
		<h:form>
			<div class="ui-fluid">
				<div class="ui-g">
					<div class="ui-g-2"></div>
					<div class="ui-g-8">

						<div class="card card-w-title">

							<p:panelGrid columns="1" layout="grid">

								<h1>Registrar Domicilio</h1>

								<p:spacer width="300px" height="20" />
								<h:outputText value="Su solicitud ha sido exitosamente enviada" />
								<h:outputText
									value="En breve recibirá un correo electrónico con indicaciones para continuar con su registro. " />


							</p:panelGrid>

						</div>
						<div class="ui-g-2"></div>



					</div>



				</div>
			</div>

		</h:form>
	</ui:define>

</ui:composition>