<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
	<ui:define name="head">
    <style type="text/css">
        .cars-datalist .text-column p:last-child{
            color:#757575;
        }
        
        .cars-datalist .car-item i, .cars-datalist .car-item .car-details {
            display: inline-block;
            vertical-align: middle;
        }
        
        .cars-datalist .car-item button {
            float: right;
        }
        
        .cars-datalist ul {
            margin: 0;
            padding: 0;
        }
        
        .ui-car-display td:last-child {
            font-weight: 700;
        }
        
        .ui-car-display {
            margin: 20px 0;
        }
        
        .styleButtonTransparent .ui-button{
            background-color: transparent!important;  
            background: transparent!important;
            border: transparent!important;
            float:right;
            margin:24px 24px 0 0;
            color: #000000;
        }
    
	    @media (max-width:640px) {
	        .cars-datalist .text-column {
	            text-align: center;
	        }
	    }
	    </style>
	</ui:define>
    <ui:define name="title">Registrar Usuario</ui:define>
    
    <ui:define name="content">
    	<div class = "ui-g">
    	  <div class = "ui-g-3"></div>	
          <div class="ui-g-6 ui-sm-12 ui-fluid">
                    <div class="card card-w-title" >
                    	<h1>Bienvenido</h1>
                    	 
                    	<p:outputLabel for="NOMBRE" value="Nombre: "/>
                    	<p:inputText id="NOMBRE" value="OLIVAS UGALDE JULIAN ALFONSO"/>
                    	<div class = "ui-g">
                        	<div class = "ui-g-9"></div>
                    		
                    		<div class = "ui-g-3  ui-sm-12">
                    			<p:button href="NotificarCorreo.jsf" value="Domicilio" style="width:auto;margin-bottom:10px;"/>
                    		</div>
                		</div>   
                    	
                    	<h:form>
	                    	<h1>Grupo Asignado</h1>                    	
	                    	<p:outputLabel value="Magistrado de Sala Superior Noroeste,Ponencia 2  " style="color:#757575"/>
	                    	<br></br>
	                    	<br></br>
	                    	
	                    	<p:outputLabel value="Tipo de Usuario: "/>
	                    	<p:selectOneMenu id="console" value="#{selectOneMenuView.console}" style="margin-bottom:10px;">
	                            <f:selectItem itemLabel="Magistrado" itemValue="" />
	                           
	                        </p:selectOneMenu>
	                        
	                        <p:outputLabel value="Roles Asignados"/>
                        
                        
			                 <p:dataList value="#{dataListDirecciones.cars4}" var="car" type="unordered" itemType="none" paginator="false" rows="3" styleClass="cars-datalist">
	                            
	                            <div style="border-bottom: 1px solid #bdbdbd" class="clearfix car-item">
	                                <i class="fa fa-dot-circle" style="font-size:48px;color:#757575;margin:24px;"></i>
	                                <div class="car-details">
	                                    <p>#{car.brand}</p>
	                                    <p style="color:#757575">#{car.color}</p>
	                                </div>
	                                
	                                <p:menuButton icon="ui-icon-more-vert" url="#" style="float:right; margin:24px 24px 0 0; background-color:#FFFFFF;">
	                                    <p:menuitem value="Editar" icon="ui-icon-create" url="#" />
	                                    	                                    
	                                </p:menuButton>
	                            </div>                                                                               
	                        </p:dataList>   
		                </h:form>                        
                        
                        <br></br>
                          
                        <div class = "ui-g">
                        	
                    		<div class = "ui-g-9"></div>
                    		<div class = "ui-g-3  ui-sm-12">
                    			<p:button href="NotificarCorreo.jsf" value="Aceptar" style="width:auto;margin-bottom:10px;"/>
                    		</div>
                		</div>    	
	                    
                </div>
          </div>
          <div class = "ui-g-3"></div>
        </div>
        
    </ui:define>
</ui:composition>