<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">JSF048</ui:define>
    	<ui:define name="content">
        		        					
        		        <div class="ui-g ui-fluid">
        		        	<div class="ui-g-2"/>
        		        	<div class="ui-g-8 ui-sm-12">
        		       			 <div class="card ">
        		        			<h:form>
        		        				<div class="ui-g">
        		        					<div class="ui-g-2"/>
        		        					<div class="ui-g-8">
      
	        									<h2>Bienvenido</h2>
	        									<h3>Completa tu registro</h3>
	        									<label style="font-size:15px">Nombre:</label>
	        									<p:spacer width="0" height="5"/>
	        									<p:inputText id="NOMBRE_USUARIO"/>
	        									<p:spacer width="0" height="10"/>
	        									
	        									<div class="ui-g">
	        										<div class="ui-g-8"/>
	        										<div class="ui-g-4">
	        											<p:commandButton value="Domicilio"/>
	        										</div>
	        									</div>
	        									
	        									<div class="ui-g">
		        									<div class="ui-g-9">
		        										
		        										<label>Documento Migratorio</label>
		        									</div>
		        									<div class="ui-g-3">
		        										
		        										<p:commandButton type="button" icon="ui-icon-add"/>
		        										<label style="font-size:13px">Agregar</label>
		        									</div>
	        									</div>
	        									
	        									<div class="card">
	        									<div class="ui-g">
		        										<div class="ui-g-11">
			        										<span class="ui-inputgroup-addon"><i class="fa fa-file-pdf-o"></i></span>Documento Migratorio
			        										</div>
		        										<div class="ui-g-1">
															<p:menuButton value="" icon="ui-icon-more-vert">
															<p:menuitem value="Editar" actionListener="#{menuView.save}" icon="ui-icon-create" />
															<p:menuitem value="Borrar" actionListener="#{menuView.delete}" ajax="false" icon="ui-icon-delete" />
															<p:menuitem value="Ver" actionListener="#{menuView.update}" icon="ui-icon-person" />
															</p:menuButton>
														</div>
												</div>
												</div>
												
	        									
	        									<div>
	        									<h:outputText value="Datos de contacto"/>
	        									</div>
	        									
	        									<div>
	        									<h:outputText value = "Telefono celular"/>
	        									</div>
	        									
	        									<div class="ui-g-8">
	        										<p:inputText id="TEL_CELULAR"/>
	        									</div>
	        									<div class="ui-g-4">
	        									<p:commandButton value="Generar Codigo" disabled="true"/>
												</div>
												
												<div>	        									
	        									<label style="font-size:13px">Se te enviara un token a tu número de celular por favor escribelo para verificar tu número</label>
	        									</div>
	        									
	        									<label>Codigo de verificación</label>
	        									<p:spacer width="0" height="5"/>
	        									<p:inputText id="CO_VERIFICACION"/>
	        									
	        									<div align="right">
	        									<p:spacer width="600" height="60"/>
	        									<p:button href = "JSFSeleccionarRol.jsf"  value="Aceptar" style = "width:200px;float:right"/>
	        									</div>
	        									
	        									
	        						
	        								</div>
	        								<div class="ui-g-2"/>
	        							</div>
	        						</h:form>
	        					</div>   						      		
                        	</div>
                        	<div class="ui-g-2"/>
                    	</div>   
                    	
    </ui:define>
</ui:composition>