<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="JSF038SeleccionarRol">Test Page</ui:define>
    <ui:define name="content">
        <h:form>
            <div class="ui-fluid">
				<div class="card card-w-title">
	                <div class="ui-g">
	                	<div class="ui-g-12">
			            	<h1>Bienvenido</h1>
		            	</div>
	                	<div class="ui-g-12">
			            	<p:outputLabel value="Completa tu Registro"/>
		            	</div>
	                	<div class="ui-g-12">
			            	<p:outputLabel value="Nombre"/>
		            	</div>
	                	<div class="ui-g-12">
		                    <p:inputText id="NM_NOMBRECOMPLETO" value="#{CU_CURP}" disabled="true" style="width:100%"/>
		            	</div>
	                	<div class="ui-g-10">
		            	</div>
	                	<div class="ui-g-2">
		                	<p:commandButton value="Domicilio" style="width:100%"/>
		            	</div>
	                	<div class="ui-g-12">
		                	<p:outputLabel value="Rol"/>
		            	</div>
	                	<div class="ui-g-12">
		                	<p:selectOneMenu value="">
				                <f:selectItem itemLabel="" itemValue="" noSelectionOption="true" />
				                <f:selectItems value="" />
				            </p:selectOneMenu>
		            	</div>
	                	<div class="ui-g-5" align="center">
		            	</div>
	                	<div class="ui-g-2" align="center">
		                	<p:button href="JSFRegistrarPromovente.jsf" value="Aceptar" style="width:100%"/>
		            	</div>
	                	<div class="ui-g-5" align="center">
		            	</div>
	            	</div>
        		</div>
        	</div>
        </h:form>
    </ui:define>
</ui:composition>