<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
	<ui:define name="content">
	<h:head>
		<h:outputScript library="scripts" name="jquery-1.7.2.js" />
		<h:outputScript library="scripts" name="jquery.validate.js" />
		<h:outputScript library="scripts" name="Validaciones.js" />
		<h:outputScript library="scripts" name="funciones.js" />
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>
	
	</h:head>	
    <ui:define name="content">
    	<div class = "ui-g">
    		<div class = "ui-md-1 ui-lg-2 ui-fluid"></div>	
    		
        	<div class="ui-g-12 ui-md-5 ui-lg-4 ui-fluid">
               	<div class="card card-w-title" >
               	<!-- Aqui va el codigo para la PRIMERA columna -->
               		<h1>Titulo de ejemplo de CARD</h1>
                   	
                   	<p:outputLabel value="Etiqueta Ejemplo:"/>
                    <p:inputText id="Entrada_EJ1"/>  
                    
                    <p:selectBooleanCheckbox id ="checkbox1"/>
	                <span class="task-name">Checkbox ejemplo</span>  
	                
	            <!-- Aqui TERMINA el codigo para la PRIMERA columna -->                     	  	                   
               	</div>
          	</div>
          	
          	<div class="ui-g-12 ui-md-5 ui-lg-4 ui-fluid">
               	<div class="card card-w-title" >
               	<!-- Aqui va el codigo para la SEGUNDA columna -->
               		<h1>Titulo de ejemplo de CARD</h1>
                   	
                   	<p:outputLabel value="Etiqueta Ejemplo:"/>
                    <p:inputText id="Entrada_EJ2"/>  
                    
                    <p:selectBooleanCheckbox id ="checkbox2"/>
	                <span class="task-name">Checkbox ejemplo</span>   
	                
	            	<!-- Aqui TERMINA el codigo para la SEGUNDA columna -->                	  	                   
               	</div>
          	</div>
          	
          	<div class = "ui-md-1 ui-lg-2 ui-fluid"></div>
        </div>
        
    </ui:define>
</ui:composition>