    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml"
          xmlns:h="http://java.sun.com/jsf/html"
          xmlns:f="http://java.sun.com/jsf/core"
          xmlns:ui="http://java.sun.com/jsf/facelets"
          xmlns:p="http://primefaces.org/ui"
          >
          

        <h:head>
            <f:facet name="first">
                <meta http-equiv="X-UA-Compatible" content="IE=edge" />
                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
                <meta name="apple-mobile-web-app-capable" content="yes" />
            </f:facet>
            <title>TFJA</title>
            <h:outputScript name="js/ripple.js" library="ultima-layout" />
            <h:outputScript name="js/layout.js" library="ultima-layout" />
            
        </h:head>

        <h:body styleClass="login-body">   
            
        	<div class="layout-wrapper">
            		            
            	<div class="layout-main">
                	<ui:insert name="content"/>                	
	                <ui:include src="./footer.xhtml" />
            	</div>
        	</div>      
            
            <h:outputStylesheet name="css/ripple.css" library="ultima-layout" />
            <h:outputStylesheet name="css/layout-#{guestPreferences.theme}.css" library="ultima-layout" />
        </h:body>

    </html>