<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pu="http://primefaces.org/ultima">

	<h:form id="menuform">
		<div class="layout-menu #{guestPreferences.menuClass}">
			<div class="nano">
				<div class="nano-content menu-scroll-content">
					<ui:fragment
						rendered="#{guestPreferences.profileMode == 'inline' and guestPreferences.menuLayout != 'menu-layout-static menu-layout-horizontal'}">
						<div class="profile">
							<div></div>
							<a id="profile-options" href="#"> <span class="profile-name">
									<p:panelGrid columns="2" layout="grid"
										styleClass="ui-panelgrid-blank lesspad">
										<p:outputLabel value="usuario">
										</p:outputLabel>
										<i class="fa fa-user"></i>
										<p:spacer></p:spacer>
										<i class="material-icons">&#xE313;</i>
									</p:panelGrid>
							</span>
							</a>
						</div>
					</ui:fragment>
					<pu:menu widgetVar="me">
						<p:menuitem id="um_tribunal" value="Tribunal"
							class="fa fa-suitcase" />
						<p:menuitem id="um_compartido" value="Compartido"
							class="fa  fa-users" />
						<p:menuitem id="um_expediente" value="Expediente"
							class="fa fa-exclamation" />
						<p:menuitem id="um_papeleria" value="Papeleria"
							class="fa fa-trash-o" />
					</pu:menu>
				</div>
			</div>
		</div>
	</h:form>
</ui:composition>