<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes"/>
            <meta name="theme-color" content="#{guestPreferences.themeColors[guestPreferences.theme]}" />
        </f:facet>
        <title>PrimeFaces Ultima</title>
        <h:outputScript name="js/nanoscroller.js" library="ultima-layout" />
        <h:outputScript name="js/layout.js" library="ultima-layout" />
        <h:outputScript name="js/ripple.js" library="ultima-layout" />
        <h:outputScript name="js/swipe.js" library="ultima-layout" />
        <ui:insert name="head"/>
		<h:outputStylesheet name="css/registro_style.css" library="ultima-layout"/>
    </h:head>

    <h:body styleClass="main-body 'layout-compact' : null}">
        
        <div class="layout-wrapper #{guestPreferences.menuLayout} #{guestPreferences.orientationRTL ? 'layout-rtl' : null}">
            <ui:include src="./topbar_registro.xhtml" />
            
            
            
            <div class="layout-main">
                <ui:insert name="content"/>

				
                <ui:include src="./footer.xhtml" />
            </div>
        </div>
        
        <p:ajaxStatus style="width:32px;height:32px;position:fixed;right:7px;bottom:7px">
           <f:facet name="start">
               <i class="fa fa-circle-o-notch fa-spin ajax-loader" aria-hidden="true"></i>
           </f:facet>

           <f:facet name="complete">
               <h:outputText value="" />
           </f:facet>
       </p:ajaxStatus>
        

        <h:outputStylesheet name="css/nanoscroller.css" library="ultima-layout" />
        <h:outputStylesheet name="css/animate.css" library="ultima-layout" />
        <h:outputStylesheet name="css/ripple.css" library="ultima-layout" />
        <h:outputStylesheet name="css/layout-cyan.css" library="ultima-layout" />
    </h:body>

</html>